---
layout: default
cards:
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vero adipisci optio eius eveniet.
   featured_image: /images/the-sleep-co-1.jpg
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vero adipisci optio eius eveniet.
   featured_image: /images/the-sleep-co-2.jpg
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vero adipisci optio eius eveniet.
   featured_image: /images/the-sleep-co-3.jpg
---

<!-------------------- Header banner -------------------->
<header class="grid tall-60">
        
    {% include header-nav.html %}

    <div class="col-12-middle text-center">
        <h3 class="font-weight-extra-bold editable">
            <span class="featured-text"> addictively</span> soft
        </h3>
        <h1 class="font-weight-light editable">
            you won't want to get out of bed
        </h1>
    </div>

</header>

<!-------------------- Text grid sustainability -------------------->

<section class="padded grid bg-featured">

    <div class="padded-sm col-12 text-center">

        <h2> <span class="white-text">features</span> you will love </h2>

    </div>

    <div class="padded-sm col-3">

        <h3> little heading </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero optio, qui est perferendis molestias a omnis nostrum consectetur inventore? Natus, error qui! Consequatur quod eveniet a minus ullam nostrum. </p>

    </div>

    <div class="padded-sm col-3">

        <h3> little heading </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero optio, qui est perferendis molestias a omnis nostrum consectetur inventore? Natus, error qui! Consequatur quod eveniet a minus ullam nostrum. </p>

    </div>

    <div class="padded-sm col-3">

        <h3> little heading </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero optio, qui est perferendis molestias a omnis nostrum consectetur inventore? Natus, error qui! Consequatur quod eveniet a minus ullam nostrum. </p>

    </div>

    <div class="padded-sm col-3">

        <h3> little heading </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero optio, qui est perferendis molestias a omnis nostrum consectetur inventore? Natus, error qui! Consequatur quod eveniet a minus ullam nostrum. </p>

    </div>

</section>

<!-------------------- Cards -------------------->

<section class="grid padded">

    {% for item in page.cards %}
    <div class="col-4 padded-sm">

        <div class="card">

            <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
            <div class="padded-1">
                <h3> {{item.heading}} </h3>
                <p> {{item.description}} </p>
            </div>

        </div>

    </div>
    {% endfor %}

</section>


<!-------------------- Image Banner -------------------->

<section class="padded text-center bg-dark tall-70 grid">

    <div class="col-12-middle">

        <h3 class="big-text">
            <span class="small-text font-weight-normal"> spend over $150 and activate </span>
            <br /><span class="featured-text">free</span> express shipping
        </h3>

    </div>

</section>

<!-------------------- Gallery -------------------->

<section class="grid">

    <div class="padded col-6-middle">

        <h2> built to last a <span class="featured-text">lifetime</span></h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laboriosam, repudiandae voluptatibus ea necessitatibus saepe officia consectetur veniam ullam libero, similique hic dignissimos, blanditiis laudantium commodi fugiat magnam ad molestiae? </p>

    </div>

</section>