/* 
    Colors:
    Yellow: #ffbe00;
    Navy: #192b37;
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Image Styles */
.bg-image {
    background-image: url('/images/the-sleep-co-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-featured { background-color: #f4b525; }
.bg-light { background-color: #e3ecf2; }

.landscape { padding-bottom: 65%; }
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }

/* Universal styles and Utility classes */

body { 
    font-family: 'Catamaran', sans-serif;
    color: #192b37;
}

.padded { padding: 5%; }
.padded-sm { padding: 1rem; }
.padded-lg { padding: 10%; }

.bg-dark { 
    background-color: #192b37;
    color: white;
}

.tall-50        { min-height: 50vh; }
.tall-60        { min-height: 60vh; }
.tall-70        { min-height: 70vh; }
.tall-80        { min-height: 80vh; }
.tall-90        { min-height: 90vh; }
.tall-100       { min-height: 100vh; }

/* Typography styles */

h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 1rem;
}

h2 { font-size: 2.5rem; }
h3 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }

p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
  }

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: #ffbe00;
}

.featured-text      { color: #ffbe00; }
.white-text         { color: white; }
.small-text         { font-size: 1.5rem;}
.medium-text { 
    font-size: 2rem; 
    line-height: 1.1;
}
.big-text           { font-size: 4.5rem; }

.subtitle {
    font-size: 1.2rem;
    color: rgb(120,120,125)
}

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: rgb(120,120,125);
    line-height: 1;
}

.font-weight-normal { font-weight: normal; }
.font-weight-light { font-weight: 200; }
.font-weight-extra-bold { font-weight: 800; }

.text-left      { text-align: left; }
.text-center    { text-align: center; }
.text-right     { text-align: right; }

/* Header & footer styles */

header {
    background-image: url('/images/the-sleep-co-4.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5rem;
    line-height: 1;
}

nav a {
    padding: 0.5rem;
    display: inline-block;
    border: none;
}

.logo h2 {
    margin-bottom: 0;
}

footer a {
    border: none;
}

/* Mobile Menu Styles */

.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.mobile-menu a {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.hamburger-button {
    position: relative;
    z-index: 2;
}

.hamburger-button i {
    font-size: 2.2rem;
    margin-bottom: 0;
}

/* Background images */

.bg-bed { background-image: url('/images/the-sleep-co-3.jpg'); }
.bg-pug { 
    background-image: url('/images/the-sleep-co-1.jpg');
    background-position: 50% 35%; 
}
.bg-pillow { 
    background-image: url('/images/the-sleep-co-2.jpg');
    background-position: 50% 57%; 
}

/* Icon grid */

.fas,
.fab {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

input,
textarea {
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}

input:focus,
textarea:focus {
    border: 2px solid #ffbe00;
    outline: none;
}

.button {
    padding: 0.5rem 2rem;
    background-color: #ffbe00;
    appearance: none;
    border: 2px solid #ffbe00;
    color: inherit;
}

/* General CSS Responsive Styles (Apply everywhere unless overrided */

.show-xs,
.show-sm,
.show-md,
.mobile-menu {
    display: none;
}


/* -------------- MD Media Query (64em / 1024px) ---------------- */
/* Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */

@media(max-width:64em) {
    .show-md { display: block; }
    .hide-md { display: none; }

    .md-tall-80 { min-height: 80vh; }
}


/* -------------- MD Media Query (48em / 768px) ---------------- */
/* Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */

@media(max-width:64em) {

    html { font-size: 14px; }
    p { font-size: 1.1rem; }

    .show-sm { display: block; }
    .hide-sm { display: none; }

    .sm-text-center { text-align: center; }
    .sm-text-left { text-align: left; }
    .sm-text-right { text-align: right; }

    .sm-padded { padding: 5%; }
    .sm-padded-1 { padding: 1rem; }


}